# Análise das interações dos estudantes em um MOOC

In [1]:
!pip install pyspark

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyspark in c:\users\noteb\appdata\local\programs\python\python310\lib\site-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\noteb\appdata\local\programs\python\python310\lib\site-packages (from pyspark) (0.10.9.7)

In [40]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.2-cp310-cp310-win_amd64.whl (10.7 MB)
     ---------------------------------------- 0.0/10.7 MB ? eta -:--:--
      --------------------------------------- 0.2/10.7 MB 3.1 MB/s eta 0:00:04
     - -------------------------------------- 0.5/10.7 MB 5.4 MB/s eta 0:00:02
     ---- ----------------------------------- 1.2/10.7 MB 9.7 MB/s eta 0:00:01
     -------- ------------------------------- 2.2/10.7 MB 11.9 MB/s eta 0:00:01
     ------------ --------------------------- 3.3/10.7 MB 14.2 MB/s eta 0:00:01
     ----------------- ---------------------- 4.7/10.7 MB 16.8 MB/s eta 0:00:01
     ---------------------- ----------------- 5.9/10.7 MB 18.0 MB/s eta 0:00:01
     ------------------------- -------------- 6.9/10.7 MB 19.1 MB/s eta 0:00:01
     ------------------------------ --------- 8.1/10.7 MB 19.1 MB/s eta 0:00:01
     ---------------------------------- ----- 9.2/10.7 MB 19.6 MB/s eta 0:00:01
     ------------------------------------ -- 10.0/10.7 MB 20.0 MB/s eta 0:00:01
     --------------------------------------  10.6/10.7 MB 21.8 MB/s eta 0:00:01
     --------------------------------------- 10.7/10.7 MB 20.5 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.24.3-cp310-cp310-win_amd64.whl (14.8 MB)
     ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
     -- ------------------------------------- 0.9/14.8 MB 28.5 MB/s eta 0:00:01
     ----- ---------------------------------- 1.9/14.8 MB 24.5 MB/s eta 0:00:01
     -------- ------------------------------- 3.1/14.8 MB 24.3 MB/s eta 0:00:01
     ----------- ---------------------------- 4.2/14.8 MB 24.1 MB/s eta 0:00:01
     ------------- -------------------------- 5.1/14.8 MB 24.8 MB/s eta 0:00:01
     --------------- ------------------------ 5.7/14.8 MB 22.9 MB/s eta 0:00:01
     ----------------- ---------------------- 6.6/14.8 MB 21.2 MB/s eta 0:00:01
     --------------------- ------------------ 7.9/14.8 MB 22.0 MB/s eta 0:00:01
     ----------------------- ---------------- 8.8/14.8 MB 22.6 MB/s eta 0:00:01
     ----------------------- ---------------- 8.8/14.8 MB 22.6 MB/s eta 0:00:01
     ---------------------------- ---------- 10.9/14.8 MB 21.1 MB/s eta 0:00:01
     ------------------------------ -------- 11.7/14.8 MB 20.5 MB/s eta 0:00:01
     ---------------------------------- ---- 13.0/14.8 MB 21.1 MB/s eta 0:00:01
     ------------------------------------ -- 14.1/14.8 MB 21.1 MB/s eta 0:00:01
     --------------------------------------  14.8/14.8 MB 21.1 MB/s eta 0:00:01
     --------------------------------------- 14.8/14.8 MB 19.3 MB/s eta 0:00:00
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     ------------------------------------- 341.8/341.8 kB 22.1 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ---------------------------------------- 0.0/502.3 kB ? eta -:--:--
     ------------------------------------- 502.3/502.3 kB 32.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\noteb\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\noteb\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.2 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [43]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.7.1-cp310-cp310-win_amd64.whl (7.6 MB)
     ---------------------------------------- 0.0/7.6 MB ? eta -:--:--
      --------------------------------------- 0.1/7.6 MB 2.2 MB/s eta 0:00:04
     -- ------------------------------------- 0.5/7.6 MB 5.0 MB/s eta 0:00:02
     ----- ---------------------------------- 1.1/7.6 MB 8.8 MB/s eta 0:00:01
     ---------- ----------------------------- 2.1/7.6 MB 11.1 MB/s eta 0:00:01
     -------------- ------------------------- 2.9/7.6 MB 12.2 MB/s eta 0:00:01
     --------------------- ------------------ 4.2/7.6 MB 15.6 MB/s eta 0:00:01
     --------------------------- ------------ 5.3/7.6 MB 16.8 MB/s eta 0:00:01
     ---------------------------------- ----- 6.6/7.6 MB 18.4 MB/s eta 0:00:01
     ---------------------------------------  7.6/7.6 MB 18.7 MB/s eta 0:00:01
     ---------------------------------------- 7.6/7.6 MB 18.0 MB/s eta 0:00:00
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     ---------------------------------------- 0.0/98.3 kB ? eta -:--:--
     ---------------------------------------- 98.3/98.3 kB ? eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-win_amd64.whl (55 kB)
     ---------------------------------------- 0.0/55.3 kB ? eta -:--:--
     ---------------------------------------- 55.3/55.3 kB ? eta 0:00:00
Collecting fonttools>=4.22.0
  Downloading fonttools-4.39.4-py3-none-any.whl (1.0 MB)
     ---------------------------------------- 0.0/1.0 MB ? eta -:--:--
     ---------------------------------------  1.0/1.0 MB 31.0 MB/s eta 0:00:01
     ---------------------------------------- 1.0/1.0 MB 31.3 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\noteb\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (23.1)
Collecting pillow>=6.2.0
  Downloading Pillow-9.5.0-cp310-cp310-win_amd64.whl (2.5 MB)
     ---------------------------------------- 0.0/2.5 MB ? eta -:--:--
     ---------------- ----------------------- 1.1/2.5 MB 34.0 MB/s eta 0:00:01
     ---------------------------------- ----- 2.2/2.5 MB 27.8 MB/s eta 0:00:01
     ---------------------------------------- 2.5/2.5 MB 26.6 MB/s eta 0:00:00
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.7-cp310-cp310-win_amd64.whl (162 kB)
     ---------------------------------------- 0.0/163.0 kB ? eta -:--:--
     -------------------------------------- 163.0/163.0 kB 9.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20 in c:\users\noteb\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\noteb\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\noteb\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.39.4 kiwisolver-1.4.4 matplotlib-3.7.1 pillow-9.5.0 pyparsing-3.0.9

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

## Coleta e processamento dos dados

In [16]:
# leitura dos dados
# df_2015_1 = spark.read.json("C:/Users/mulle/downloads/data/20150801-20151101-raw_user_activity.json")
# df_2015_2 = spark.read.option("multiline","true").json("C:/Users/mulle/downloads/data/20151101-20160201-raw_user_activity.json")
# df_2016_1 = spark.read.option("multiline","true").json("C:/Users/mulle/downloads/data/20160201-20160501-raw_user_activity.json")

In [17]:
# df_2016_2 = spark.read.option("multiline","true").json("C:/Users/mulle/downloads/data/20160501-20160801-raw_user_activity.json")
# df_2016_3 = spark.read.option("multiline","true").json("C:/Users/mulle/downloads/data/20160801-20170201-raw_user_activity.json")
# df_2017_1 = spark.read.option("multiline","true").json("C:/Users/mulle/downloads/data/20170201-20170801-raw_user_activity.json")

In [8]:
df_train = spark.read.csv('data/train_log.csv', header=False)
df_train = df_train.withColumnRenamed("_c0", "enroll_id")
df_train = df_train.withColumnRenamed("_c1", "username")
df_train = df_train.withColumnRenamed("_c2", "course_id")
df_train = df_train.withColumnRenamed("_c3", "session_id")
df_train = df_train.withColumnRenamed("_c4", "action")
df_train = df_train.withColumnRenamed("_c5", "object")
df_train = df_train.withColumnRenamed("_c6", "time")
df_train = df_train.where(df_train.username != 'username')

df_test = spark.read.csv('data/test_log.csv', header=False)
df_test = df_test.withColumnRenamed("_c0", "enroll_id")
df_test = df_test.withColumnRenamed("_c1", "username")
df_test = df_test.withColumnRenamed("_c2", "course_id")
df_test = df_test.withColumnRenamed("_c3", "session_id")
df_test = df_test.withColumnRenamed("_c4", "action")
df_test = df_test.withColumnRenamed("_c5", "object")
df_test = df_test.withColumnRenamed("_c6", "time")
df_test = df_test.where(df_test.username != 'username')

In [3]:
df_train.show(n=5)

+---------+--------+--------------------+--------------------+-----------+--------------------+-------------------+
|enroll_id|username|           course_id|          session_id|     action|              object|               time|
+---------+--------+--------------------+--------------------+-----------+--------------------+-------------------+
|      772|    5981|course-v1:Tsinghu...|d8a9b787fa69063c3...|click_about|                null|2015-09-27T15:42:59|
|      772|    5981|course-v1:Tsinghu...|d8a9b787fa69063c3...| click_info|                null|2015-09-27T15:43:12|
|      773| 1544995|course-v1:Tsinghu...|2f02b86eb3ea2cbf0...|pause_video|3dac5590435e43b3a...|2015-10-19T19:37:42|
|      773| 1544995|course-v1:Tsinghu...|2f02b86eb3ea2cbf0...| load_video|3dac5590435e43b3a...|2015-10-19T19:33:27|
|      773| 1544995|course-v1:Tsinghu...|2f02b86eb3ea2cbf0...| play_video|3dac5590435e43b3a...|2015-10-19T19:33:30|
+---------+--------+--------------------+--------------------+-----------+--------------------+-------------------+
only showing top 5 rows

In [5]:
print((df_train.count(), len(df_train.columns)))

(29165540, 7)

In [4]:
df_test.show(n=5)

+---------+--------+--------------------+--------------------+-----------+--------------------+-------------------+
|enroll_id|username|           course_id|          session_id|     action|              object|               time|
+---------+--------+--------------------+--------------------+-----------+--------------------+-------------------+
|      775| 1520977|course-v1:Tsinghu...|5f421f644193c2d48...| load_video|3dac5590435e43b3a...|2015-10-15T22:14:11|
|      775| 1520977|course-v1:Tsinghu...|5f421f644193c2d48...| load_video|3169d758ee2d4262b...|2015-10-15T22:43:35|
|      775| 1520977|course-v1:Tsinghu...|5f421f644193c2d48...| play_video|3169d758ee2d4262b...|2015-10-15T22:43:40|
|      775| 1520977|course-v1:Tsinghu...|5f421f644193c2d48...|pause_video|3169d758ee2d4262b...|2015-10-15T22:55:38|
|      775| 1520977|course-v1:Tsinghu...|5f421f644193c2d48...| stop_video|3169d758ee2d4262b...|2015-10-15T22:55:38|
+---------+--------+--------------------+--------------------+-----------+--------------------+-------------------+
only showing top 5 rows

In [8]:
print((df_test.count(), len(df_test.columns)))

(12944862, 7)

In [9]:
df_combined = df_train.union(df_test)

In [10]:
df_combined.show(n=10)

+---------+--------+--------------------+--------------------+-----------+--------------------+-------------------+
|enroll_id|username|           course_id|          session_id|     action|              object|               time|
+---------+--------+--------------------+--------------------+-----------+--------------------+-------------------+
|      772|    5981|course-v1:Tsinghu...|d8a9b787fa69063c3...|click_about|                null|2015-09-27T15:42:59|
|      772|    5981|course-v1:Tsinghu...|d8a9b787fa69063c3...| click_info|                null|2015-09-27T15:43:12|
|      773| 1544995|course-v1:Tsinghu...|2f02b86eb3ea2cbf0...|pause_video|3dac5590435e43b3a...|2015-10-19T19:37:42|
|      773| 1544995|course-v1:Tsinghu...|2f02b86eb3ea2cbf0...| load_video|3dac5590435e43b3a...|2015-10-19T19:33:27|
|      773| 1544995|course-v1:Tsinghu...|2f02b86eb3ea2cbf0...| play_video|3dac5590435e43b3a...|2015-10-19T19:33:30|
|      773| 1544995|course-v1:Tsinghu...|2f02b86eb3ea2cbf0...|pause_video|3dac5590435e43b3a...|2015-10-19T19:34:59|
|      773| 1544995|course-v1:Tsinghu...|2f02b86eb3ea2cbf0...| play_video|3dac5590435e43b3a...|2015-10-19T19:35:09|
|      773| 1544995|course-v1:Tsinghu...|2f02b86eb3ea2cbf0...|pause_video|3dac5590435e43b3a...|2015-10-19T19:37:34|
|      773| 1544995|course-v1:Tsinghu...|2f02b86eb3ea2cbf0...| play_video|3dac5590435e43b3a...|2015-10-19T19:37:38|
|      773| 1544995|course-v1:Tsinghu...|2f02b86eb3ea2cbf0...| play_video|3dac5590435e43b3a...|2015-10-19T19:38:17|
+---------+--------+--------------------+--------------------+-----------+--------------------+-------------------+
only showing top 10 rows

In [11]:
print((df_combined.count(), len(df_combined.columns)))

(42110402, 7)

## Análise exploratória

In [11]:
df_combined.select('action').distinct().collect()

[Row(action='close_courseware'),
 Row(action='play_video'),
 Row(action='click_about'),
 Row(action='click_forum'),
 Row(action='problem_check_incorrect'),
 Row(action='create_thread'),
 Row(action='seek_video'),
 Row(action='problem_check_correct'),
 Row(action='reset_problem'),
 Row(action='create_comment'),
 Row(action='load_video'),
 Row(action='problem_get'),
 Row(action='pause_video'),
 Row(action='delete_comment'),
 Row(action='problem_check'),
 Row(action='click_courseware'),
 Row(action='close_forum'),
 Row(action='stop_video'),
 Row(action='delete_thread'),
 Row(action='problem_save'),
 Row(action='click_progress'),
 Row(action='click_info')]

In [12]:
df_combined.createOrReplaceTempView("table1")

In [19]:
query = spark.sql("SELECT action, COUNT(action) AS quantidade FROM table1 GROUP BY action ORDER BY quantidade DESC")

In [20]:
query.collect()

[Row(action='stop_video', quantidade=8424429),
 Row(action='pause_video', quantidade=6017142),
 Row(action='click_courseware', quantidade=5685535),
 Row(action='play_video', quantidade=4895238),
 Row(action='problem_get', quantidade=3291858),
 Row(action='load_video', quantidade=3039857),
 Row(action='close_courseware', quantidade=2890604),
 Row(action='seek_video', quantidade=2574885),
 Row(action='problem_check', quantidade=1219175),
 Row(action='click_info', quantidade=1043535),
 Row(action='problem_check_correct', quantidade=935239),
 Row(action='click_about', quantidade=720867),
 Row(action='problem_check_incorrect', quantidade=499470),
 Row(action='click_progress', quantidade=282822),
 Row(action='click_forum', quantidade=269136),
 Row(action='problem_save', quantidade=241272),
 Row(action='create_comment', quantidade=49958),
 Row(action='reset_problem', quantidade=18464),
 Row(action='create_thread', quantidade=9200),
 Row(action='delete_comment', quantidade=1277),
 Row(action='delete_thread', quantidade=434),
 Row(action='close_forum', quantidade=5)]

In [24]:
query = spark.sql("SELECT username, COUNT(action) AS quantidade_de_actions FROM table1 GROUP BY username ORDER BY quantidade_de_actions ASC");

In [25]:
query.collect()

[Row(username='3116768', quantidade_de_actions=1),
 Row(username='673161', quantidade_de_actions=1),
 Row(username='1507431', quantidade_de_actions=1),
 Row(username='3636828', quantidade_de_actions=1),
 Row(username='2802895', quantidade_de_actions=1),
 Row(username='2759108', quantidade_de_actions=1),
 Row(username='225272', quantidade_de_actions=1),
 Row(username='300513', quantidade_de_actions=1),
 Row(username='4712999', quantidade_de_actions=1),
 Row(username='5214806', quantidade_de_actions=1),
 Row(username='522183', quantidade_de_actions=1),
 Row(username='134860', quantidade_de_actions=1),
 Row(username='439928', quantidade_de_actions=1),
 Row(username='62954', quantidade_de_actions=1),
 Row(username='835413', quantidade_de_actions=1),
 Row(username='530360', quantidade_de_actions=1),
 Row(username='116137', quantidade_de_actions=1),
 Row(username='727035', quantidade_de_actions=1),
 Row(username='4346460', quantidade_de_actions=1),
 Row(username='375115', quantidade_de_actions=1),
 Row(username='2733911', quantidade_de_actions=1),
 Row(username='2455712', quantidade_de_actions=1),
 Row(username='1133566', quantidade_de_actions=1),
 Row(username='3652', quantidade_de_actions=1),
 Row(username='6695811', quantidade_de_actions=1),
 Row(username='5195934', quantidade_de_actions=1),
 Row(username='4361989', quantidade_de_actions=1),
 Row(username='2983539', quantidade_de_actions=1),
 Row(username='2783411', quantidade_de_actions=1),
 Row(username='2725125', quantidade_de_actions=1),
 Row(username='2804329', quantidade_de_actions=1),
 Row(username='3058173', quantidade_de_actions=1),
 Row(username='4316921', quantidade_de_actions=1),
 Row(username='730930', quantidade_de_actions=1),
 Row(username='587771', quantidade_de_actions=1),
 Row(username='1587648', quantidade_de_actions=1),
 Row(username='3653189', quantidade_de_actions=1),
 Row(username='461387', quantidade_de_actions=1),
 Row(username='1164742', quantidade_de_actions=1),
 Row(username='314598', quantidade_de_actions=1),
 Row(username='6852089', quantidade_de_actions=1),
 Row(username='3693578', quantidade_de_actions=1),
 Row(username='1524082', quantidade_de_actions=1),
 Row(username='4327826', quantidade_de_actions=1),
 Row(username='563200', quantidade_de_actions=1),
 Row(username='1502771', quantidade_de_actions=1),
 Row(username='485756', quantidade_de_actions=1),
 Row(username='6836059', quantidade_de_actions=1),
 Row(username='6776694', quantidade_de_actions=1),
 Row(username='2914109', quantidade_de_actions=1),
 Row(username='6889515', quantidade_de_actions=1),
 Row(username='5251992', quantidade_de_actions=1),
 Row(username='1726940', quantidade_de_actions=1),
 Row(username='196467', quantidade_de_actions=1),
 Row(username='231708', quantidade_de_actions=1),
 Row(username='372003', quantidade_de_actions=1),
 Row(username='2923171', quantidade_de_actions=1),
 Row(username='441095', quantidade_de_actions=1),
 Row(username='1856255', quantidade_de_actions=1),
 Row(username='6062474', quantidade_de_actions=1),
 Row(username='710502', quantidade_de_actions=1),
 Row(username='429442', quantidade_de_actions=1),
 Row(username='283673', quantidade_de_actions=1),
 Row(username='91164', quantidade_de_actions=1),
 Row(username='3709670', quantidade_de_actions=1),
 Row(username='679346', quantidade_de_actions=1),
 Row(username='3075354', quantidade_de_actions=1),
 Row(username='2654901', quantidade_de_actions=1),
 Row(username='1660906', quantidade_de_actions=1),
 Row(username='1886500', quantidade_de_actions=1),
 Row(username='1502769', quantidade_de_actions=1),
 Row(username='562487', quantidade_de_actions=1),
 Row(username='6629084', quantidade_de_actions=1),
 Row(username='1718920', quantidade_de_actions=1),
 Row(username='6325152', quantidade_de_actions=1),
 Row(username='3253132', quantidade_de_actions=1),
 Row(username='79225', quantidade_de_actions=1),
 Row(username='450095', quantidade_de_actions=1),
 Row(username='1766583', quantidade_de_actions=1),
 Row(username='1087047', quantidade_de_actions=1),
 Row(username='4359992', quantidade_de_actions=1),
 Row(username='2751834', quantidade_de_actions=1),
 Row(username='1107680', quantidade_de_actions=1),
 Row(username='136537', quantidade_de_actions=1),
 Row(username='6725992', quantidade_de_actions=1),
 Row(username='2974697', quantidade_de_actions=1),
 Row(username='2852936', quantidade_de_actions=1),
 Row(username='5251370', quantidade_de_actions=1),
 Row(username='2837801', quantidade_de_actions=1),
 Row(username='1041994', quantidade_de_actions=1),
 Row(username='3712138', quantidade_de_actions=1),
 Row(username='1586246', quantidade_de_actions=1),
 Row(username='2979833', quantidade_de_actions=1),
 Row(username='533168', quantidade_de_actions=1),
 Row(username='4338096', quantidade_de_actions=1),
 Row(username='1535181', quantidade_de_actions=1),
 Row(username='510857', quantidade_de_actions=1),
 Row(username='483273', quantidade_de_actions=1),
 Row(username='6832050', quantidade_de_actions=1),
 Row(username='2673225', quantidade_de_actions=1),
 Row(username='3793032', quantidade_de_actions=1),
 Row(username='29250', quantidade_de_actions=1),
 Row(username='560625', quantidade_de_actions=1),
 Row(username='4681650', quantidade_de_actions=1),
 Row(username='5376876', quantidade_de_actions=1),
 Row(username='619', quantidade_de_actions=1),
 Row(username='5391062', quantidade_de_actions=1),
 Row(username='1654', quantidade_de_actions=1),
 Row(username='1969241', quantidade_de_actions=1),
 Row(username='2630499', quantidade_de_actions=1),
 Row(username='1581827', quantidade_de_actions=1),
 Row(username='7366', quantidade_de_actions=1),
 Row(username='1062609', quantidade_de_actions=1),
 Row(username='2736115', quantidade_de_actions=1),
 Row(username='1661994', quantidade_de_actions=1),
 Row(username='1096408', quantidade_de_actions=1),
 Row(username='2647274', quantidade_de_actions=1),
 Row(username='1523233', quantidade_de_actions=1),
 Row(username='2872928', quantidade_de_actions=1),
 Row(username='2254313', quantidade_de_actions=1),
 Row(username='55058', quantidade_de_actions=1),
 Row(username='1859820', quantidade_de_actions=1),
 Row(username='1648483', quantidade_de_actions=1),
 Row(username='87339', quantidade_de_actions=1),
 Row(username='1909630', quantidade_de_actions=1),
 Row(username='4397058', quantidade_de_actions=1),
 Row(username='432730', quantidade_de_actions=1),
 Row(username='320112', quantidade_de_actions=1),
 Row(username='2842438', quantidade_de_actions=1),
 Row(username='2762041', quantidade_de_actions=1),
 Row(username='6819844', quantidade_de_actions=1),
 Row(username='630753', quantidade_de_actions=1),
 Row(username='583565', quantidade_de_actions=1),
 Row(username='6843222', quantidade_de_actions=1),
 Row(username='830228', quantidade_de_actions=1),
 Row(username='1317633', quantidade_de_actions=1),
 Row(username='418225', quantidade_de_actions=1),
 Row(username='669880', quantidade_de_actions=1),
 Row(username='2730999', quantidade_de_actions=1),
 Row(username='5251766', quantidade_de_actions=1),
 Row(username='1736339', quantidade_de_actions=1),
 Row(username='1186197', quantidade_de_actions=1),
 Row(username='1197669', quantidade_de_actions=1),
 Row(username='746040', quantidade_de_actions=1),
 Row(username='1583394', quantidade_de_actions=1),
 Row(username='5914498', quantidade_de_actions=1),
 Row(username='5983221', quantidade_de_actions=1),
 Row(username='5505743', quantidade_de_actions=1),
 Row(username='2313190', quantidade_de_actions=1),
 Row(username='2514263', quantidade_de_actions=1),
 Row(username='3488466', quantidade_de_actions=1),
 Row(username='6601088', quantidade_de_actions=1),
 Row(username='1635706', quantidade_de_actions=1),
 Row(username='4365137', quantidade_de_actions=1),
 Row(username='1488628', quantidade_de_actions=1),
 Row(username='5320678', quantidade_de_actions=1),
 Row(username='728277', quantidade_de_actions=1),
 Row(username='5956926', quantidade_de_actions=1),
 Row(username='773939', quantidade_de_actions=1),
 Row(username='2708679', quantidade_de_actions=1),
 Row(username='2667571', quantidade_de_actions=1),
 Row(username='1330674', quantidade_de_actions=1),
 Row(username='2851794', quantidade_de_actions=1),
 Row(username='149761', quantidade_de_actions=1),
 Row(username='1458123', quantidade_de_actions=1),
 Row(username='2647658', quantidade_de_actions=1),
 Row(username='6686370', quantidade_de_actions=1),
 Row(username='2642176', quantidade_de_actions=1),
 Row(username='476752', quantidade_de_actions=1),
 Row(username='1492644', quantidade_de_actions=1),
 Row(username='789369', quantidade_de_actions=1),
 Row(username='4669898', quantidade_de_actions=1),
 Row(username='1655221', quantidade_de_actions=1),
 Row(username='3777569', quantidade_de_actions=1),
 Row(username='756154', quantidade_de_actions=1),
 Row(username='545363', quantidade_de_actions=1),
 Row(username='206712', quantidade_de_actions=1),
 Row(username='491532', quantidade_de_actions=1),
 Row(username='1095205', quantidade_de_actions=1),
 Row(username='580918', quantidade_de_actions=1),
 Row(username='2708526', quantidade_de_actions=1),
 Row(username='1473952', quantidade_de_actions=1),
 Row(username='514488', quantidade_de_actions=1),
 Row(username='1443369', quantidade_de_actions=1),
 Row(username='3469090', quantidade_de_actions=1),
 Row(username='1806499', quantidade_de_actions=1),
 Row(username='2798223', quantidade_de_actions=1),
 Row(username='2943079', quantidade_de_actions=1),
 Row(username='5044846', quantidade_de_actions=1),
 Row(username='6868516', quantidade_de_actions=1),
 Row(username='6726976', quantidade_de_actions=1),
 Row(username='3233612', quantidade_de_actions=1),
 Row(username='2648666', quantidade_de_actions=1),
 Row(username='2751988', quantidade_de_actions=1),
 Row(username='885391', quantidade_de_actions=1),
 Row(username='5139771', quantidade_de_actions=1),
 Row(username='2716854', quantidade_de_actions=1),
 Row(username='1202108', quantidade_de_actions=1),
 Row(username='283880', quantidade_de_actions=1),
 Row(username='612030', quantidade_de_actions=1),
 Row(username='5982927', quantidade_de_actions=1),
 Row(username='937315', quantidade_de_actions=1),
 Row(username='6133438', quantidade_de_actions=1),
 Row(username='5142889', quantidade_de_actions=1),
 Row(username='2722919', quantidade_de_actions=1),
 Row(username='5381056', quantidade_de_actions=1),
 Row(username='389171', quantidade_de_actions=1),
 Row(username='757466', quantidade_de_actions=1),
 Row(username='3093878', quantidade_de_actions=1),
 Row(username='637589', quantidade_de_actions=1),
 Row(username='489516', quantidade_de_actions=1),
 Row(username='1722362', quantidade_de_actions=1),
 Row(username='508724', quantidade_de_actions=1),
 Row(username='269168', quantidade_de_actions=1),
 Row(username='1779205', quantidade_de_actions=1),
 Row(username='2920842', quantidade_de_actions=1),
 Row(username='3060022', quantidade_de_actions=1),
 Row(username='2548183', quantidade_de_actions=1),
 Row(username='1097059', quantidade_de_actions=1),
 Row(username='5491910', quantidade_de_actions=1),
 Row(username='1197620', quantidade_de_actions=2),
 Row(username='961', quantidade_de_actions=2),
 Row(username='88864', quantidade_de_actions=2),
 Row(username='2734419', quantidade_de_actions=2),
 Row(username='2913934', quantidade_de_actions=2),
 Row(username='1509363', quantidade_de_actions=2),
 Row(username='1103340', quantidade_de_actions=2),
 Row(username='2809718', quantidade_de_actions=2),
 Row(username='509022', quantidade_de_actions=2),
 Row(username='2639092', quantidade_de_actions=2),
 Row(username='64092', quantidade_de_actions=2),
 Row(username='109730', quantidade_de_actions=2),
 Row(username='125890', quantidade_de_actions=2),
 Row(username='2532414', quantidade_de_actions=2),
 Row(username='1073322', quantidade_de_actions=2),
 Row(username='53434', quantidade_de_actions=2),
 Row(username='834816', quantidade_de_actions=2),
 Row(username='304157', quantidade_de_actions=2),
 Row(username='496183', quantidade_de_actions=2),
 Row(username='1012551', quantidade_de_actions=2),
 Row(username='296007', quantidade_de_actions=2),
 Row(username='469941', quantidade_de_actions=2),
 Row(username='2493914', quantidade_de_actions=2),
 Row(username='1533804', quantidade_de_actions=2),
 Row(username='3671478', quantidade_de_actions=2),
 Row(username='2520169', quantidade_de_actions=2),
 Row(username='1583231', quantidade_de_actions=2),
 Row(username='6662542', quantidade_de_actions=2),
 Row(username='6624417', quantidade_de_actions=2),
 Row(username='4951626', quantidade_de_actions=2),
 Row(username='4152020', quantidade_de_actions=2),
 Row(username='6894166', quantidade_de_actions=2),
 Row(username='194991', quantidade_de_actions=2),
 Row(username='502038', quantidade_de_actions=2),
 Row(username='754889', quantidade_de_actions=2),
 Row(username='245069', quantidade_de_actions=2),
 Row(username='2723695', quantidade_de_actions=2),
 Row(username='12612', quantidade_de_actions=2),
 Row(username='1527497', quantidade_de_actions=2),
 Row(username='2810927', quantidade_de_actions=2),
 Row(username='2627601', quantidade_de_actions=2),
 Row(username='2758525', quantidade_de_actions=2),
 Row(username='1067811', quantidade_de_actions=2),
 Row(username='52555', quantidade_de_actions=2),
 Row(username='1087950', quantidade_de_actions=2),
 Row(username='2824705', quantidade_de_actions=2),
 Row(username='1107683', quantidade_de_actions=2),
 Row(username='6865367', quantidade_de_actions=2),
 Row(username='6122605', quantidade_de_actions=2),
 Row(username='1076568', quantidade_de_actions=2),
 Row(username='2637226', quantidade_de_actions=2),
 Row(username='2848347', quantidade_de_actions=2),
 Row(username='41028', quantidade_de_actions=2),
 Row(username='1533629', quantidade_de_actions=2),
 Row(username='1177208', quantidade_de_actions=2),
 Row(username='483534', quantidade_de_actions=2),
 Row(username='6841546', quantidade_de_actions=2),
 Row(username='4575531', quantidade_de_actions=2),
 Row(username='5219196', quantidade_de_actions=2),
 Row(username='2859512', quantidade_de_actions=2),
 Row(username='4602812', quantidade_de_actions=2),
 Row(username='2511376', quantidade_de_actions=2),
 Row(username='2393', quantidade_de_actions=2),
 Row(username='686338', quantidade_de_actions=2),
 Row(username='6606004', quantidade_de_actions=2),
 Row(username='1660977', quantidade_de_actions=2),
 Row(username='5965407', quantidade_de_actions=2),
 Row(username='2826295', quantidade_de_actions=2),
 Row(username='58894', quantidade_de_actions=2),
 Row(username='624536', quantidade_de_actions=2),
 Row(username='5189471', quantidade_de_actions=2),
 Row(username='2801687', quantidade_de_actions=2),
 Row(username='3680188', quantidade_de_actions=2),
 Row(username='76946', quantidade_de_actions=2),
 Row(username='1658624', quantidade_de_actions=2),
 Row(username='6686404', quantidade_de_actions=2),
 Row(username='1066978', quantidade_de_actions=2),
 Row(username='1672477', quantidade_de_actions=2),
 Row(username='2659667', quantidade_de_actions=2),
 Row(username='6300233', quantidade_de_actions=2),
 Row(username='4378540', quantidade_de_actions=2),
 Row(username='6286451', quantidade_de_actions=2),
 Row(username='5170337', quantidade_de_actions=2),
 Row(username='1642475', quantidade_de_actions=2),
 Row(username='2761750', quantidade_de_actions=2),
 Row(username='1554239', quantidade_de_actions=2),
 Row(username='673559', quantidade_de_actions=2),
 Row(username='2539633', quantidade_de_actions=2),
 Row(username='4791405', quantidade_de_actions=2),
 Row(username='5110902', quantidade_de_actions=2),
 Row(username='2622495', quantidade_de_actions=2),
 Row(username='3131762', quantidade_de_actions=2),
 Row(username='1045233', quantidade_de_actions=2),
 Row(username='2747779', quantidade_de_actions=2),
 Row(username='2586800', quantidade_de_actions=2),
 Row(username='1572514', quantidade_de_actions=2),
 Row(username='708356', quantidade_de_actions=2),
 Row(username='2787571', quantidade_de_actions=2),
 Row(username='517783', quantidade_de_actions=2),
 Row(username='479400', quantidade_de_actions=2),
 Row(username='800313', quantidade_de_actions=2),
 Row(username='1467827', quantidade_de_actions=2),
 Row(username='2581694', quantidade_de_actions=2),
 Row(username='1517363', quantidade_de_actions=2),
 Row(username='1232004', quantidade_de_actions=2),
 Row(username='577211', quantidade_de_actions=2),
 Row(username='707258', quantidade_de_actions=2),
 Row(username='1467899', quantidade_de_actions=2),
 Row(username='2901011', quantidade_de_actions=2),
 Row(username='2000', quantidade_de_actions=2),
 Row(username='1934216', quantidade_de_actions=2),
 Row(username='2575542', quantidade_de_actions=2),
 Row(username='6775996', quantidade_de_actions=2),
 Row(username='2021095', quantidade_de_actions=2),
 Row(username='1770806', quantidade_de_actions=2),
 Row(username='342102', quantidade_de_actions=2),
 Row(username='464857', quantidade_de_actions=2),
 Row(username='2836262', quantidade_de_actions=2),
 Row(username='4204732', quantidade_de_actions=2),
 Row(username='2564888', quantidade_de_actions=2),
 Row(username='2763229', quantidade_de_actions=2),
 Row(username='6819949', quantidade_de_actions=2),
 Row(username='2277648', quantidade_de_actions=2),
 Row(username='73927', quantidade_de_actions=2),
 Row(username='2301122', quantidade_de_actions=2),
 Row(username='1639031', quantidade_de_actions=2),
 Row(username='6820704', quantidade_de_actions=2),
 Row(username='1135034', quantidade_de_actions=2),
 Row(username='274824', quantidade_de_actions=2),
 Row(username='2590397', quantidade_de_actions=2),
 Row(username='1164659', quantidade_de_actions=2),
 Row(username='300365', quantidade_de_actions=2),
 Row(username='2928412', quantidade_de_actions=2),
 Row(username='1200153', quantidade_de_actions=2),
 Row(username='694615', quantidade_de_actions=2),
 Row(username='2862972', quantidade_de_actions=2),
 Row(username='1104232', quantidade_de_actions=2),
 Row(username='1906178', quantidade_de_actions=2),
 Row(username='2740272', quantidade_de_actions=2),
 Row(username='2935123', quantidade_de_actions=2),
 Row(username='496390', quantidade_de_actions=2),
 Row(username='112394', quantidade_de_actions=2),
 Row(username='5254265', quantidade_de_actions=2),
 Row(username='1898170', quantidade_de_actions=2),
 Row(username='6401343', quantidade_de_actions=2),
 Row(username='2944274', quantidade_de_actions=2),
 Row(username='5101263', quantidade_de_actions=2),
 Row(username='2645559', quantidade_de_actions=2),
 Row(username='1652095', quantidade_de_actions=2),
 Row(username='1905333', quantidade_de_actions=2),
 Row(username='6456520', quantidade_de_actions=2),
 Row(username='494398', quantidade_de_actions=2),
 Row(username='2014099', quantidade_de_actions=2),
 Row(username='5363180', quantidade_de_actions=2),
 Row(username='2683690', quantidade_de_actions=2),
 Row(username='5314619', quantidade_de_actions=2),
 Row(username='4711848', quantidade_de_actions=2),
 Row(username='2704348', quantidade_de_actions=2),
 Row(username='3236978', quantidade_de_actions=2),
 Row(username='911377', quantidade_de_actions=2),
 Row(username='67780', quantidade_de_actions=2),
 Row(username='1789232', quantidade_de_actions=2),
 Row(username='434314', quantidade_de_actions=2),
 Row(username='2643983', quantidade_de_actions=2),
 Row(username='4589041', quantidade_de_actions=2),
 Row(username='2848961', quantidade_de_actions=2),
 Row(username='2713894', quantidade_de_actions=2),
 Row(username='5468765', quantidade_de_actions=2),
 Row(username='2677921', quantidade_de_actions=2),
 Row(username='698103', quantidade_de_actions=2),
 Row(username='1437588', quantidade_de_actions=2),
 Row(username='1754730', quantidade_de_actions=2),
 Row(username='305136', quantidade_de_actions=2),
 Row(username='2895244', quantidade_de_actions=2),
 Row(username='19708', quantidade_de_actions=2),

In [75]:
query = spark.sql("""SELECT
  CASE
    WHEN quantidade_de_actions < 10 THEN 'Menos de 10'
    WHEN quantidade_de_actions BETWEEN 10 AND 100 THEN 'Entre 10 e 100'
    WHEN quantidade_de_actions BETWEEN 100 AND 250 THEN 'Entre 100 e 250'
    WHEN quantidade_de_actions BETWEEN 250 AND 500 THEN 'Entre 250 e 500'
    WHEN quantidade_de_actions BETWEEN 500 AND 1000 THEN 'Entre 500 e 1000'
    WHEN quantidade_de_actions BETWEEN 1000 AND 2500 THEN 'Entre 1000 e 2500'
    WHEN quantidade_de_actions BETWEEN 2500 AND 5000 THEN 'Entre 2500 e 5000'
    WHEN quantidade_de_actions > 5000 THEN 'Mais de 5000'
  END AS faixa_actions,
  COUNT(*) AS quantidade_de_usuarios
FROM (
  SELECT username, COUNT(action) AS quantidade_de_actions
  FROM table1
  GROUP BY username
) AS subquery
GROUP BY faixa_actions;""")

In [76]:
query.collect()

[Row(faixa_actions='Entre 250 e 500', quantidade_de_usuarios=9893),
 Row(faixa_actions='Entre 10 e 100', quantidade_de_usuarios=26924),
 Row(faixa_actions='Entre 1000 e 2500', quantidade_de_usuarios=8467),
 Row(faixa_actions='Entre 100 e 250', quantidade_de_usuarios=13579),
 Row(faixa_actions='Entre 500 e 1000', quantidade_de_usuarios=8969),
 Row(faixa_actions='Mais de 5000', quantidade_de_usuarios=777),
 Row(faixa_actions='Menos de 10', quantidade_de_usuarios=6412),
 Row(faixa_actions='Entre 2500 e 5000', quantidade_de_usuarios=2062)]

In [77]:
query = spark.sql("""
SELECT
  CASE
    WHEN quantidade_de_actions < 10 THEN 'Menos de 10'
    WHEN quantidade_de_actions BETWEEN 10 AND 100 THEN 'Entre 10 e 100'
    WHEN quantidade_de_actions BETWEEN 100 AND 250 THEN 'Entre 100 e 250'
    WHEN quantidade_de_actions BETWEEN 250 AND 500 THEN 'Entre 250 e 500'
    WHEN quantidade_de_actions BETWEEN 500 AND 1000 THEN 'Entre 500 e 1000'
    WHEN quantidade_de_actions BETWEEN 1000 AND 2500 THEN 'Entre 1000 e 2500'
    WHEN quantidade_de_actions BETWEEN 2500 AND 5000 THEN 'Entre 2500 e 5000'
    WHEN quantidade_de_actions > 5000 THEN 'Mais de 5000'
  END AS faixa_actions,
  COUNT(*) AS quantidade_de_usuarios
FROM (
  SELECT username, COUNT(action) AS quantidade_de_actions
  FROM table1
  WHERE action in ('problem_get', 'problem_check_correct', 'problem_check', 'problem_check_incorrect', 'problem_save')
  GROUP BY username
) AS subquery
GROUP BY faixa_actions;
""")

In [78]:
query.collect()

[Row(faixa_actions='Entre 250 e 500', quantidade_de_usuarios=3874),
 Row(faixa_actions='Entre 10 e 100', quantidade_de_usuarios=24634),
 Row(faixa_actions='Entre 1000 e 2500', quantidade_de_usuarios=316),
 Row(faixa_actions='Entre 100 e 250', quantidade_de_usuarios=10121),
 Row(faixa_actions='Entre 500 e 1000', quantidade_de_usuarios=1383),
 Row(faixa_actions='Mais de 5000', quantidade_de_usuarios=33),
 Row(faixa_actions='Menos de 10', quantidade_de_usuarios=14274),
 Row(faixa_actions='Entre 2500 e 5000', quantidade_de_usuarios=59)]

In [67]:
query = spark.sql("""
    SELECT
    DATE_FORMAT(`time`, 'yyyy MMM') AS mes_ano,
    COUNT(*) AS total_de_actions
    FROM table1
    GROUP BY mes_ano
    ORDER BY mes_ano ASC;
""")

In [68]:
query.collect()

[Row(mes_ano='2015 Aug', total_de_actions=76339),
 Row(mes_ano='2015 Dec', total_de_actions=219480),
 Row(mes_ano='2015 Jul', total_de_actions=378856),
 Row(mes_ano='2015 Jun', total_de_actions=249967),
 Row(mes_ano='2015 Nov', total_de_actions=1370320),
 Row(mes_ano='2015 Oct', total_de_actions=8261446),
 Row(mes_ano='2015 Sep', total_de_actions=4668510),
 Row(mes_ano='2016 Apr', total_de_actions=1936421),
 Row(mes_ano='2016 Aug', total_de_actions=332799),
 Row(mes_ano='2016 Feb', total_de_actions=1337815),
 Row(mes_ano='2016 Jan', total_de_actions=76552),
 Row(mes_ano='2016 Jul', total_de_actions=3640108),
 Row(mes_ano='2016 Jun', total_de_actions=1012335),
 Row(mes_ano='2016 Mar', total_de_actions=8059035),
 Row(mes_ano='2016 May', total_de_actions=1068757),
 Row(mes_ano='2016 Nov', total_de_actions=129188),
 Row(mes_ano='2016 Oct', total_de_actions=2665433),
 Row(mes_ano='2016 Sep', total_de_actions=2940131),
 Row(mes_ano='2017 Apr', total_de_actions=50991),
 Row(mes_ano='2017 Feb', total_de_actions=825343),
 Row(mes_ano='2017 Jun', total_de_actions=5014),
 Row(mes_ano='2017 Mar', total_de_actions=2732945),
 Row(mes_ano='2017 May', total_de_actions=72617)]

In [70]:
query = spark.sql("""
    SELECT
    mes_ano,
    AVG(quantidade_de_actions) AS media_de_actions_por_usuario
FROM
    (
        SELECT
            DATE_FORMAT(time, 'yyyy MMM') AS mes_ano,
            username,
            COUNT(*) AS quantidade_de_actions
        FROM
            table1
        GROUP BY
            mes_ano,
            username
    ) AS subquery
GROUP BY
    mes_ano
SORT BY mes_ano ASC
""")

In [71]:
query.collect()

[Row(mes_ano='2015 Aug', media_de_actions_por_usuario=120.59873617693523),
 Row(mes_ano='2015 Dec', media_de_actions_por_usuario=96.72983693256941),
 Row(mes_ano='2015 Jul', media_de_actions_por_usuario=182.1423076923077),
 Row(mes_ano='2015 Jun', media_de_actions_por_usuario=131.63085834649814),
 Row(mes_ano='2015 Nov', media_de_actions_por_usuario=161.84244714775008),
 Row(mes_ano='2015 Oct', media_de_actions_por_usuario=322.59932055136863),
 Row(mes_ano='2015 Sep', media_de_actions_por_usuario=233.64746509183723),
 Row(mes_ano='2016 Apr', media_de_actions_por_usuario=168.2673792144595),
 Row(mes_ano='2016 Aug', media_de_actions_por_usuario=134.5729882733522),
 Row(mes_ano='2016 Feb', media_de_actions_por_usuario=172.39884020618555),
 Row(mes_ano='2016 Jan', media_de_actions_por_usuario=52.649243466299865),
 Row(mes_ano='2016 Jul', media_de_actions_por_usuario=287.41476510067116),
 Row(mes_ano='2016 Jun', media_de_actions_por_usuario=256.93781725888323),
 Row(mes_ano='2016 Mar', media_de_actions_por_usuario=356.54713976020884),
 Row(mes_ano='2016 May', media_de_actions_por_usuario=188.19457650994894),
 Row(mes_ano='2016 Nov', media_de_actions_por_usuario=79.8442521631644),
 Row(mes_ano='2016 Oct', media_de_actions_por_usuario=201.86557103907907),
 Row(mes_ano='2016 Sep', media_de_actions_por_usuario=230.0391988107347),
 Row(mes_ano='2017 Apr', media_de_actions_por_usuario=63.81852315394243),
 Row(mes_ano='2017 Feb', media_de_actions_por_usuario=148.07014711158953),
 Row(mes_ano='2017 Jun', media_de_actions_por_usuario=100.28),
 Row(mes_ano='2017 Mar', media_de_actions_por_usuario=254.79628939026665),
 Row(mes_ano='2017 May', media_de_actions_por_usuario=100.02341597796143)]

In [48]:
df_combined.groupBy('action').count().orderBy('count', ascending=False).show(n=22)

+--------------------+-------+
|              action|  count|
+--------------------+-------+
|          stop_video|8424429|
|         pause_video|6017142|
|    click_courseware|5685535|
|          play_video|4895238|
|         problem_get|3291858|
|          load_video|3039857|
|    close_courseware|2890604|
|          seek_video|2574885|
|       problem_check|1219175|
|          click_info|1043535|
|problem_check_cor...| 935239|
|         click_about| 720867|
|problem_check_inc...| 499470|
|      click_progress| 282822|
|         click_forum| 269136|
|        problem_save| 241272|
|      create_comment|  49958|
|       reset_problem|  18464|
|       create_thread|   9200|
|      delete_comment|   1277|
|       delete_thread|    434|
|         close_forum|      5|
+--------------------+-------+

# Plotagem e Sumarização